* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}
nav {
  display: flex;
  height: 10vh;
  width: 100vw;
  align-items: center;
  gap: 10px;
  box-shadow: 3px 3px 5px black;
}
#icon {
  height: 75px;
  width: 75px;
  margin-left: 20px;
}
#icon-text {
  font-size: 1.75rem;
  font-weight: bold;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

#add-book {
  height: 50px;
  width: 100px;
  margin-top: 20px;
  border-style: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
#book-display-area {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  height: 750px;
  width: 1700px;
  margin: auto;
  border-radius: 10px;
}
#modal {
  display: none;
  position: fixed;
  width: 300px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
  background-color: rgb(241, 241, 241);
  border: 1px solid black;
}
#modal-title {
  font-weight: bold;
  font-size: 1.4rem;
}
input {
  margin-top: 20px;
  font-size: 1.1rem;
}
#submit-button {
  padding: 10px;
  margin-top: 10px;
}
#submit-button:hover {
  cursor: pointer;
}
.book-card {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 300px;
  width: 300px;
  background-color: rgb(36, 34, 34);
  color: white;
  text-align: center;
  border-radius: 10px;
}
.book-card > * {
  margin: 10px 25px 10px 25px;
}
.green-button {
  font-size: 1.25rem;
  padding: 10px;
  background-color: rgb(46, 180, 46);
  color: white;
}
.red-button {
  font-size: 1.25rem;
  padding: 10px;
  background-color: rgb(208, 79, 79);
  color: white;
}
.remove-button {
  padding: 10px;
  font-size: 1.25rem;
}
.green-button:hover,
.red-button:hover,
.remove-button:hover {
  cursor: pointer;
}
